# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Temporary & Environment
.env
.env.local
node_modules/
.vscode/
.idea/
.DS_Store
Thumbs.db
.firebase/

# Large Raw Media Files
*.zip
*.mp4
*.MP4
Dokumentasi Acara Malimpung/
Peresmian Puskesmas malinpung/
